php_value max_input_vars 20000
php_value max_execution_time 259200
php_value max_input_time 259200
php_value memory_limit 512M
php_value upload_max_filesize 30M
php_value post_max_size 30M

RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#
# RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]