<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% include "partials/application/head.twig" %}
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                {% include "partials/application/header.twig" %}
                {% if loggedInUser %}
                    <div class="navbar-default sidebar" role="navigation">
                        <div class="sidebar-nav navbar-collapse">
                            <ul class="nav" id="side-menu">
                                {% if loggedInUser.type > 1 %}
                                    <li class="sidebar-search">
                                        <form class="form form-horizontal" role="form" method="post" action="/Enrolment/search">
                                            <div class="input-group custom-search-form">
                                                <input type="text" class="form-control" name="search" placeholder="Search..." value="{% if (search is not empty) %}{{ search }}{% endif %}">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="submit">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </form>
                                    </li>
                                    <li>
                                        <a href="/Enrolment/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                                    </li>
                                {% endif %}
                                {% if loggedInUser.type == 2 or loggedInUser.type == 3 or loggedInUser.type == 0 or loggedInUser.type == 1 %}
                                    <li>
                                        <a href="#"><i class="fa fa-tags fa-fw"></i> Transaction File<span class="fa arrow"></span></a>
                                        <ul class="nav nav-second-level collapse in">
                                            {% if loggedInUser.type == 0 or loggedInUser.type == 1 %}
                                            <li>
                                                <a href="#"><i class="glyphicon glyphicon-registration-mark"></i> Student Information<span class="fa arrow"></span></a>
                                                <ul class="nav nav-third-level collapse in">
                                                    <li>
                                                        <a href="/Enrolment/files/status/1"><i class="glyphicon glyphicon-plus-sign"></i> Registration</a>
                                                    </li>
                                                    <li>
                                                        <a href="/Enrolment/files/status/11"><i class="glyphicon glyphicon-th-list"></i> List of Students</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            {% endif %}
                                            {% if loggedInUser.type == 0 or loggedInUser.type == 2 %}
                                                <li>
                                                    <a href="/Enrolment/files/status/2"><i class="glyphicon glyphicon-folder-close"></i> Student Accounts</a>
                                                </li>
                                            {% endif %}
                                            {% if loggedInUser.type == 0 or loggedInUser.type == 3 %}
                                                <li>
                                                    <a href="/Enrolment/files/status/3"><i class="glyphicon glyphicon-credit-card"></i> Payments</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                {% endif %}
                                {% if loggedInUser.type == 0 %}
                                    <li>
                                        <a href="#"><i class="fa fa-gear fa-fw"></i> Tools<span class="fa arrow"></span></a>
                                        <ul class="nav nav-second-level">
                                            <li>
                                                <a href="/Enrolment/users/import"><i class="fa fa-upload fa-fw"></i> Upload Users</a>
                                            </li>
                                            <li>
                                                <a href="/Enrolment/users/list"><i class="fa fa-users fa-fw"></i> List of Users</a>
                                            </li>
                                            <li>
                                                <a href="/Enrolment/settings"><i class="fa fa-tasks fa-fw"></i> Settings</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"><i class="glyphicon glyphicon-print"></i> Reports<span class="fa arrow"></span></a>
                                        <ul class="nav nav-second-level">
                                            <li>
                                                <a href="/Enrolment/users/import"><i class="glyphicon glyphicon-calendar"></i> Summary</a>
                                            </li>
                                        </ul>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </nav>

            {% block content %}{% endblock %}
        </div>
        <div class="footer">
            {% include "partials/application/footer.twig" %}
        </div>

        {% include "partials/application/scripts.twig" %}
        {% include "partials/application/popup.twig" %}

        {% block js %}{% endblock %}
    </body>
</html>